.sidenav-container {
  height: 100%;
}

.widenav{
  width: 350px;
  box-shadow: 1px 0 1px rgba(0,0,0,.24);
  overflow-x: hidden;
}

.sidenav{
  width:64px;
  overflow-x: hidden;
}

[matListIcon]{
 margin-right: 20px;
}

.primaryLink{
  color: #007bc1;
  background-color: #e0eff8 !important;
  border-radius: 25px;
  margin-left: -24px;
  padding-left: 24px;
  width:342px;
}